<%= render 'shared/errors', obj: @article %>
<section class="h-100 gradient-custom-2">
    <div class="card container py-5 h-100"><h1 class="text-center">Edit Article </h1>
    <%=render 'form'%>
    </div>
</section>